.travel_mainDiv{
    border:5px solid black;
    padding-left: 0px;
    padding-right: 0px;
    float:none;
    
}

.travel_mainDiv img{
    width:100%;
    
    
}

.travel_mainDiv hr{
    width:130px;
}

.travel_mainDiv h5,p{
    margin-left: 20px;
    
}

.movie_head{
    
font-size: 20px;
    border-radius: 5px;
        padding:6px 22px;
    margin-bottom: 16px;
    width:100%;
    display:inline-block;
    
}

.movie_head i{
    float:right;
    
}

.movie_text span{
    color:yellow;
}

.environment_li{
    margin-top:15px;
}

.environment_li h2{
    border-bottom: 1px solid green;
    padding:8px;
}

.environment_li img{
    border-radius: 10px;
}

.environment_li p{
    margin-top:10px;
}